!!!
%html
  %head
    %title Hai Gurlfriend
    %link{:href => "/images/favicon.ico",     :type => "image/x-icon",  :rel => "shortcut icon"}
    %link{:href => "/stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/stlesheets/print.css",   :media => "print", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/stylesheets/main.css",   :type => "text/css", :rel => "stylesheet", :media => "screen"}
    /[if IE]
      %link{:href => "/stylesheets/ie.css", :media => "screen, projection", :rel => "stylesheets", :type => "text/css"}
  %body
    .container
      %h1
        %a{:href => "/"} Hai Gurlfriend
      =yield
    %script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/main.js"}